            @media(min-width: 1200px) {
                .hidden-72rtr7 {
                    display:none!important
                }
            }

            @media(min-width: 810px) and (max-width: 1199px) {
                .hidden-eg24ad {
                    display:none!important
                }
            }

            @media(max-width: 809px) {
                .hidden-1jtrel8 {
                    display:none!important
                }
            }
         html,body,#main {
                margin: 0;
                padding: 0;
                box-sizing: border-box
            }

            :root {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale
            }

            * {
                box-sizing: border-box;
                -webkit-font-smoothing: inherit
            }

            h1,h2,h3,h4,h5,h6,p,figure {
                margin: 0
            }

            body,input,textarea,select,button {
                font-size: 12px;
                font-family: sans-serif
            }

            body {
                --token-cb857597-1bd5-4f62-b602-ab590621a1c3: rgb(0, 125, 252);
                --token-0c35c7d3-21de-4070-8046-4a3fa0c5baf0: rgb(250, 250, 250);
                --token-7c7e9cfb-a37d-4a67-b6bc-9236ba5c673f: rgb(0, 114, 177);
                --token-aa49d30b-1153-48cc-b4b7-4a56b03c6b36: rgb(225, 48, 108);
                --token-f195ea74-7512-4096-8d91-0e7c7e10d0ab: rgb(213, 219, 230);
                --token-fea11c44-032b-447a-9585-047b1a84dca3: rgb(49, 111, 246);
                --token-b6f65d1a-768d-468a-8830-6b004457a240: rgb(28, 28, 28);
                --token-b5e189c6-a580-45d9-af26-3e66e023cb6c: rgb(77, 77, 77);
                --token-ff18efca-ed94-4c99-8739-7e625411a950: rgb(236, 237, 241);
                --token-bd6fddaa-3751-40c0-9f12-5c406a835432: rgb(0, 0, 0);
                --token-fde2a50f-b288-4c9c-9b7a-4e119992f803: rgb(153, 153, 153);
                --token-8529b2c4-479c-4e58-9618-f6b7e3c6f4d2: rgb(236, 237, 241);
                --token-c9af4144-ce0d-49bb-a12d-620c3f2afbd7: rgb(28, 28, 28);
                --token-8445f75f-053d-4b52-9864-534bd86e89f2: rgba(0, 125, 252, .15);
                --token-8bf67a0f-490e-43c0-b850-2cffd2bfe48e: rgb(250, 251, 255);
                --token-d3e0227b-aa10-46db-83c4-9e32f5a4545f: rgba(166, 171, 189, .25);
                --token-72293aef-d43a-4f15-8ed2-c9982330593f: rgba(0, 125, 252, .05);
                --token-fdda1afd-f6f4-4243-912c-50a95b7a4366: rgb(249, 250, 250);
                --token-06b8906a-7808-4dfa-ac27-a436985f8eb1: rgb(12, 12, 13);
                --token-7971df22-6c6f-4d4d-8825-e41e051e90ef: rgb(130, 130, 137);
                --token-eb09dbbf-ef85-4b7f-81a5-44e9b062efb7: rgb(4, 7, 13);
                --token-98e77689-c0ed-4bec-a0a3-e86d11b001fb: rgba(213, 219, 230, .7)
            }

            @media (prefers-color-scheme: dark) {
                body {
                    --token-0c35c7d3-21de-4070-8046-4a3fa0c5baf0: rgb(255, 255, 255)
                }
            }

            @supports (z-index: calc(infinity)) {
                #__framer-badge-container {
                    --infinity: infinity
                }
            }
